<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Online education</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__ADMIN__/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__ADMIN__/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__ADMIN__/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="__ADMIN__/assets/css/admin.css">
    <link rel="stylesheet" href="__ADMIN__/assets/css/app.css">
</head>

<body data-type="generalComponents">


    {include file="public/top" /}







    <div class="tpl-page-container tpl-page-header-fixed">

        {include file="public/left" /}




        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                管理知识点
            </div>
            <ol class="am-breadcrumb">
                <li><a href="{:url('index/index')}" class="am-icon-home">首页</a></li>
                <li><a href="{:url('admin/zhishidianlist')}">知识点管理</a></li>
                <li class="am-active">管理知识点</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 列表
                    </div>
                    <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                            <div class="input-icon right">
                                <i class="am-icon-search"></i>
                                <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>
                        </div>
                    </div>


                </div>
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="am-u-sm-12 am-u-md-6">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <a type="button" class="am-btn am-btn-default am-btn-success" href="{:url('admin/zhishidianadd')}" target="_blank"><span class="am-icon-plus"></span> 新增</a>
                                    <!-- <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button>
                                    <button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button>
                                    <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button> -->
                                </div>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-3">
                            <div class="am-form-group">
                                <select data-am-selected="{btnSize: 'sm'}">
                                          <option value="option1">所有类别</option>
                                          <option value="option2">IT业界</option>
                                          <option value="option3">数码产品</option>
                                          <option value="option3">笔记本电脑</option>
                                          <option value="option3">平板电脑</option>
                                          <option value="option3">只能手机</option>
                                          <option value="option3">超极本</option>
                                </select>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-3">
                            <div class="am-input-group am-input-group-sm">
                                <input type="text" class="am-form-field">
                                <span class="am-input-group-btn">
            <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="button"></button>
          </span>
                            </div>
                        </div>
                    </div>
                    <div class="am-g">
                        <div class="am-u-sm-12">
                            <form class="am-form">
                                <table class="am-table am-table-striped am-table-hover table-main">
                                    <thead>
                                        <tr>
                                            <!-- <th class="table-check"><input type="checkbox" class="tpl-table-fz-check"></th> -->
                                            <th class="table-id">ID</th>
                                            <th class="table-title">知识点名称</th>
                                            <th class="table-type">知识点类别</th>
                                            <th class="table-author am-hide-sm-only">上级知识点</th>
                                            <th class="table-date am-hide-sm-only">科目</th>
                                            <th class="table-set">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {volist name="res" id="vo"}
                                        <tr>
                                            <!-- <td><input type="checkbox"></td> -->
                                            <td>{$vo.zsdbh}</td>
                                            <td>
                                                {if condition="$vo.jibie neq 0"}|{/if} <?php echo str_repeat('-',$vo['jibie']*6)?> {$vo.zsdmc}
                                            </td>
                                            <td>
                                                {if condition="$vo.zsdlb eq 0"}单页
                                                {else/}列表
                                                {/if}
                                            </td>
                                            <td class="am-hide-sm-only">{$vo.sjzsd}</td>
                                            <td class="am-hide-sm-only">{$vo.kmbh}</td>
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                        <a class="am-btn am-btn-default am-btn-secondary" href="{:url('admin/zhishidianedit',array('zsdbh'=>$vo['zsdbh']))}" target="_blank"><span class="am-icon-pencil-square-o"></span> 编辑</a>

                                                        <a href="{:url('admin/zhishidiandelete',array('zsdbh'=>$vo['zsdbh']))}" onClick="return confirm('确定要删除吗?')" class="am-btn am-btn-danger am-btn-default "><span class="am-icon-trash-o"></span> 删除</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {/volist}
                                    </tbody>
                                </table>
                                <div class="am-cf">

                                    <!-- <div class="am-fr">
                                        <ul class="am-pagination tpl-pagination">
                                            <li class="am-disabled"><a href="#">«</a></li>
                                            <li class="am-active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">»</a></li>
                                        </ul>
                                    </div> -->
                                </div>
                                <hr>

                            </form>
                        </div>

                    </div>
                </div>
                <div class="tpl-alert"></div>
            </div>










        </div>

    </div>


    <script src="__ADMIN__/assets/js/jquery.min.js"></script>
    <script src="__ADMIN__/assets/js/amazeui.min.js"></script>
    <script src="__ADMIN__/assets/js/app.js"></script>
</body>

</html>