<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Online education</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__ADMIN__/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__ADMIN__/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__ADMIN__/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="__ADMIN__/assets/css/admin.css">
    <link rel="stylesheet" href="__ADMIN__/assets/css/app.css">
    <script src="__ADMIN__/assets/js/echarts.min.js"></script>
</head>

<body data-type="index">


    {include file="public/top" /}







    <div class="tpl-page-container tpl-page-header-fixed">


        {include file="public/left" /}






        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                Online  首页
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">分类</a></li>
                <li class="am-active">内容</li>
            </ol>
        </div>

    </div>


    <script src="__ADMIN__/assets/js/jquery.min.js"></script>
    <script src="__ADMIN__/assets/js/amazeui.min.js"></script>
    <script src="__ADMIN__/assets/js/iscroll.js"></script>
    <script src="__ADMIN__/assets/js/app.js"></script>
</body>

</html>