<div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                Online 列表
            </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                    <li class="tpl-left-nav-item">
                        <a href="{:url('index/index')}" class="nav-link active">
                            <i class="am-icon-home"></i>
                            <span>首页</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="{:url('index/chart')}" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-bar-chart"></i>
                            <span>数据分析</span>
                            <i class="tpl-left-nav-content tpl-badge-danger">
               12
             </i>
                        </a>
                    </li>

                    <li class="tpl-left-nav-item">
                       <!-- 打开状态 a 标签添加 active 即可   -->
                        <!--例如 <a href="javascript:;" class="nav-link tpl-left-nav-link-list active">-->
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>题库管理</span>
                            <!-- 列表打开状态的i标签添加 tpl-left-nav-more-ico-rotate 图表即90°旋转  -->
                            <!--例如 <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>-->
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                               <!-- 打开状态 a 标签添加 active 即可   -->
                                <!--例如 <a href="table-font-list.html" class="active">-->
                                <a href="{:url('tiku/xuanze')}">
                                    <i class="am-icon-angle-right"></i>
                                    <span>选择题</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                                <a href="{:url('tiku/panduan')}">
                                    <i class="am-icon-angle-right"></i>
                                    <span>判断题</span>
                                    <i class="tpl-left-nav-content tpl-badge-success">
               18
             </i>

                                    <a href="{:url('tiku/tiankong')}">
                                        <i class="am-icon-angle-right"></i>
                                        <span>填空题</span>
                                        <i class="tpl-left-nav-content tpl-badge-primary">
               5
             </i>


                                        <a href="{:url('tiku/jianda')}">
                                            <i class="am-icon-angle-right"></i>
                                            <span>简答题</span>

                                        </a>
                            </li>
                        </ul>
                    </li>

                    <li class="tpl-left-nav-item">
                       <!-- 打开状态 a 标签添加 active 即可   -->
                        <!--例如 <a href="javascript:;" class="nav-link tpl-left-nav-link-list active">-->
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>知识点管理</span>
                            <!-- 列表打开状态的i标签添加 tpl-left-nav-more-ico-rotate 图表即90°旋转  -->
                            <!--例如 <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>-->
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                               <!-- 打开状态 a 标签添加 active 即可   -->
                                <!--例如 <a href="table-font-list.html" class="active">-->
                                <a href="{:url('admin/zhishidianadd')}">
                                    <i class="am-icon-angle-right"></i>
                                    <span>添加知识点</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                                <a href="{:url('admin/zhishidianlist')}">
                                    <i class="am-icon-angle-right"></i>
                                    <span>管理知识点</span>
                                    <i class="tpl-left-nav-content tpl-badge-success">
               20
             </i>

                            </li>
                        </ul>
                    </li>

                    <li class="tpl-left-nav-item">
                       <!-- 打开状态 a 标签添加 active 即可   -->
                        <!--例如 <a href="javascript:;" class="nav-link tpl-left-nav-link-list active">-->
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-wpforms"></i>
                            <span>账号管理</span>
                            <!-- 列表打开状态的i标签添加 tpl-left-nav-more-ico-rotate 图表即90°旋转  -->
                            <!--例如 <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>-->
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <!-- 打开状态 添加 display:block-->
                        <!--例如 <ul class="tpl-left-nav-sub-menu" style="display: block;">-->
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                               <!-- 打开状态 a 标签添加 active 即可   -->
                                <!-- 例如 <a href="form-amazeui.html" class="active">-->
                                <a href="{:url('admin/zhanghaoadd')}">
                                    <i class="am-icon-angle-right"></i>
                                    <span>添加账号</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                                <a href="{:url('admin/zhanghaolist')}">
                                    <i class="am-icon-angle-right"></i>
                                    <span>管理账号</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!--<li class="tpl-left-nav-item">
                        <a href="{:url('index/login')}" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-key"></i>
                            <span>登录</span>

                        </a>
                    </li>-->
                </ul>
            </div>
</div>