<!DOCTYPE html>
<html>

	<head lang="en">
		<meta charset="UTF-8">
		<title>注册</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />

		<link rel="stylesheet" href="__INDEX__/assets/css/amazeui.min.css" />
		<link href="__INDEX__/assets/css/dlstyle.css" rel="stylesheet" type="text/css">
		<script src="__INDEX__/assets/js/jquery.min.js"></script>
		<script src="__INDEX__/assets/js/amazeui.min.js"></script>
		<script src="__INDEX__/assets/js/gVerify.js"></script>

	</head>

	<body>

		<div class="login-boxtitle">
			<a href="home/demo.html"><img alt="" src="__INDEX__/assets/images/logobig.png" /></a>
		</div>

		<div class="res-banner">
			<div class="res-main">
				<div class="login-banner-bg"><span></span><img src="__INDEX__/assets/images/big.jpg" /></div>
				<div class="login-box">

						<div class="am-tabs" id="doc-my-tabs">
							<ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify">
								<li class="am-active"><a href="">邮箱注册</a></li>
								<li><a href="">手机号注册</a></li>
							</ul>

							<div class="am-tabs-bd">
								<div class="am-tab-panel am-active">
								<form id="youxiang" method="post" action="" data-am-validator>
									<div class="user-email">
											<label for="email"><i class="am-icon-envelope-o"></i></label>
											<input type="email" name="username" id="username" placeholder="请输入邮箱账号" required>
	                 				</div>
                 					<div class="user-pass">
									    <label for="password"><i class="am-icon-lock"></i></label>
									    <input type="password" name="password" id="password" placeholder="设置密码" required>
                 					</div>
                					<div class="user-pass">
									    <label for="passwordRepeat"><i class="am-icon-lock"></i></label>
									    <input type="password" name="passwordRepeat" id="passwordRepeat" placeholder="确认密码" data-equal-to="#password" required>
									    {$repasswordErr}
                 					</div>

									<!-- 验证码 -->
									<div>
									<div style="width:150px;float:left;margin-top:7px;margin-bottom:10px;"><input type="text" style="padding:0.5em;font-size: 1.3rem;" id="textfield1" placeholder="请输入验证码" required></div>
									<div id="v_container" style="width:140px;height:40px;float:right;margin-top:7px;margin-bottom: 10px;"></div>
									</div>

                 					<div style="position: relative;height: 12px;clear:both;">
											<input id="reader-me" type="checkbox" checked="checked" style="border:none; width: 14px; height: 12px; position: relative;"> 点击表示您同意平台《服务协议》
							  		</div>
									<div class="am-cf">
										<input type="submit" value="注 册" class="am-btn am-btn-primary am-btn-sm am-fl">
									</div>
									<hr>
                 				</form>
								</div>

								<div class="am-tab-panel">
									<form id="shouji" method="post" action="" data-am-validator>
                 					<div class="user-phone">
									    <label for="phone"><i class="am-icon-mobile-phone am-icon-md"></i></label>
									    <input type="tel" name="username" id="username" placeholder="请输入手机号" required>
                 					</div>
									<div class="verification">
										<label for="code"><i class="am-icon-code-fork"></i></label>
										<input type="tel" name="" id="code" placeholder="请输入验证码">
										<a class="btn" href="javascript:void(0);" onclick="sendMobileCode();" id="sendMobileCode">
											<span id="dyMobileButton">获取</span></a>
									</div>
                 					<div class="user-pass">
									    <label for="password"><i class="am-icon-lock"></i></label>
									    <input type="password" name="password" id="password" placeholder="设置密码" required>
                					</div>
                 					<div class="user-pass">
									    <label for="passwordRepeat"><i class="am-icon-lock"></i></label>
									    <input type="password" name="passwordRepeat" id="passwordRepeat" placeholder="确认密码" data-equal-to="#password" required>
                 					</div>

                 					<div style="position: relative;margin-top:20px;">
											<input id="reader-me" type="checkbox" checked="checked" style="border:none; width: 14px; height: 12px; position: relative;"> 点击表示您同意平台《服务协议》
							  		</div>
									<div class="am-cf">
										<input type="submit" value="注 册" class="am-btn am-btn-primary am-btn-sm am-fl">
									</div>
									<hr>
									</form>
								</div>

								<script>
									$(function() {
									    $('#doc-my-tabs').tabs();
									  })
								</script>

							</div>
						</div>

				</div>
			</div>

					<!-- 底部 -->

                    {include file="public/bottom" /}
		</div>
	</body>
	<script>
        var verifyCode = new GVerify("v_container");

        document.getElementById("youxiang").onsubmit = function(){
            var res = verifyCode.validate(document.getElementById("textfield1").value);
            if(res){
                return true;
            }else{
                alert("验证码错误");
                return false;
            }
        }
    </script>
</html>