<div class="footer ">
    <div class="footer-hd ">
        <p>
            <a href="{:url('index/index')}">在线教育</a>
            <b>|</b>
            <a href="{:url('index/index')}">首页</a>
            <b>|</b>
            <a href="# ">支付宝</a>
            <b>|</b>
            <a href="# ">课程</a>
        </p>
    </div>
    <div class="footer-bd ">
        <p>
            <a href="# ">关于平台</a>
            <a href="# ">合作伙伴</a>
            <a href="# ">联系我们</a>
            <a href="# ">网站地图</a>
            <em>© 2015-2025 zaixian.com 版权所有</em>
        </p>
    </div>
</div>