<div class="hmtop">
    <!--顶部导航条 -->
    <div class="am-container header">
        <ul class="message-l">
            <div class="topMessage">
                <div class="menu-hd">
                    <a href="{:url('index/login')}" target="_top" class="h">登录</a>
                    &nbsp;&nbsp;<small style="font-size:18px;">|</small>&nbsp;&nbsp;
                    <a href="{:url('index/register')}" target="_top">注册</a>
                </div>
            </div>
        </ul>
        <ul class="message-r">
            <div class="topMessage home">
                <div class="menu-hd"><a href="{:url('index/index')}" target="_top" class="h">首页</a></div>
            </div>
            <div class="topMessage my-shangcheng">
                <div class="menu-hd MyShangcheng">{if condition="$Request.session.username eq null"}<i class="am-icon-user am-icon-fw"></i><a href="{:url('index/login')}" target="_top">个人中心</a>{else /}<a href="#" target="_top">{$Request.session.username}</a>{/if}</div>
            </div>
            <div class="topMessage mini-cart">
                <div class="menu-hd"><a id="mc-menu-hd" href="#" target="_top"><i class="am-icon-shopping-cart  am-icon-fw"></i><span>购物车</span><strong id="J_MiniCartNum" class="h">0</strong></a></div>
            </div>
            <div class="topMessage favorite">
                <div class="menu-hd"><a href="#" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a></div>
            </div>
            <div class="topMessage favorite">
                <div class="menu-hd"><a href="{:url('index/logout')}"><span class="am-icon-power-off"></span><span>退出</span></a></div>
            </div>
        </ul>
    </div>

        <!--悬浮搜索框-->

        <div class="nav white">
            <div class="logo"><img src="__INDEX__/assets/images/logo.png" /></div>
            <div class="logoBig">
                <li><img src="__INDEX__/assets/images/logobig.png" /></li>
            </div>

            <div class="search-bar pr">
                <a name="index_none_header_sysc" href="#"></a>
                <form action="{:url('index/qessearch')}" method="post">
                    <input id="searchInput" name="index_none_header_sysc" type="text" placeholder="   搜索" autocomplete="off">
                    <input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit" >
                </form>
            </div>
        </div>

        <div class="clear"></div>
</div>